.card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  margin-top: 30px;
  border-radius: 20px;
  border: 2px solid #d3d6dd;
  padding: 45px 16px 26px;
  cursor: pointer;
  opacity: 0;
}

.card:has(input:checked) {
  border: 2px solid #01b9c5;
  background-color: rgba(1, 195, 187, 0.05);
}

.title {
  font-family: "Bebas Neue";
  font-weight: 400;
  font-size: 30px;
  color: #687078;
}

.price {
  display: flex;
  flex-direction: column;
}

.with_sale {
  align-self: flex-end;
  font-family: "PT Root UI";
  font-weight: 700;
  font-size: 50px;
  line-height: 1;
}

.without_sale {
  align-self: flex-end;
  font-family: "PT Root UI";
  font-weight: 400;
  font-size: 24px;
  color: #95979f;
  text-decoration: line-through;
}

.text {
  width: 120px;
  display: flex;
  align-self: center;
  font-family: "PT Root UI";
  font-weight: 600;
  font-size: 16px;
  text-align: center;
}

.sale {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -30px;
  right: 10px;
  width: 70px;
  height: 70px;
  background-image: url(../..//assets/icons/star.svg);
  background-size: contain;
  color: #ffffff;
  font-family: "PT Root UI";
  font-weight: 500;
  font-size: 18.67px;
}

@media (max-width: 1457px) {
  .text {
    width: auto;
  }
}

@media (min-width: 1200px) {
  .card:last-child {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 25px 31px;
    flex: 1;
  }

  .card:last-child > .text {
    align-self: auto;
    text-align: start;
    margin-left: 35px;
    width: auto;
  }
}

@media (min-width: 1200px) {
  .card {
    width: 187px;
  }

  .card:last-child {
    width: 585px;
  }
}

@media (max-width: 1200px) {
  .card {
    width: 335px;
    margin-top: 0;
    padding: 35px 16px 26px;
  }
}
